
body{
	margin: 0;
	font-family: 'Muli'
	}
strong { vertical-align: bottom; 
}

header{
	background-color: #484349;
	height: 175px;
	text-align: center;

	padding: 20px 40px;

}
.title{
	color:#D0D0D0;
		text-align: left;
}
.project-item{
	cursor: pointer;
}

header img{
}

main{
	padding-bottom: 50px;
	background-color: #F7F0F0;
}
.green-line{
	width: 100%;
	height: 10px;
	background-color:#109648;
}
.project-card{
	width: 300px;
	height: 175px;
	background-color: #18A999;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	padding-left: 10px;
	box-shadow: 0 5px 18px 1px rgba(0,0,0,0.28);
	
}
.project-card h2{
	color: white;
}
.plant{
	display: inline-block;
	padding-right: 20px;
	padding-left: 80px;

}
.plant img{
	width: 80px
}
.row{
	margin-top: 70px;
}

/***********project Dash***************/
.component{
	width: 500px;
	height: 200px;
	/* Rectangle 3 Copy 2: */
box-shadow: 0 1px 15px 1px rgba(0,0,0,0.18);
border-radius: 3px;
background-color: white;
color:#484349;

}
.main-plant{
	padding-left: 80px;
}
.main-plant img{
	width: 110px;
}
.next-step{
	background-color: #18A999;
	width: 700px;
	height:250px;
}
.recent-activity{
	padding-left: 20px;
	padding-top: 2px;
	
}
.recent-activity h3{
margin-top: 15px;
	
}
.recent-activity .date-left{
margin-left: 80px;
color: black;	
font-weight: 600;
}
.recent-activity ul{
	list-style: none;
	margin-top: 15px;
	padding: 0;
}
.recent-activity ul li{
margin-top: 12px;
vertical-align: middle;

}
.recent-activity ul li span{
vertical-align: middle;

}
.recent-activity ul li img{
margin-right: 10px;
vertical-align: middle;
width: 16px;
}
.recent-activity .activity-type{
	color:#18A999;
}
.team-members{
	
}
.project-buzz{
	
	background-color: #484349;
}