/* General stuff */
body{
background-color:#F7F0F0;
}
h1,h3,h4{
	font-family: 'Quicksand', sans-serif;
}
h1{
	color:rgb(225, 227, 225);
}

p{
	font-family: 'Nunito', sans-serif;
}

/* Header */
.myHeader{
	background-color:#484349; 
	height: 100px;
	width: 100%;
}
.mdl-card{
background-color:#484349; 
}
.myImg{
	background-image:url("picture/omniLOGO.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: auto;
}
.project{
	margin:0px;
}
.padma{
	padding: 0px;
	margin:0px;

}
/*Green line*/
.greenLine{
background-color:#109648; 
}
/* Plants and Next step */
.myPlant{
	background-image:url("functions/plant_animation/8.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: auto;
	background-color:#F7F0F0;
}
.nextStep{
	background-color:#18A999;
	color:#F7F0F0; 
	height:400px;
	width: 600px;
}
.myMail{
	background-color: white;
	color:black;
	width:300px;
	height: 100px;
	position: absolute;
	display: inline-block;
	top:700px;
}
.myButton{
	display: inline-block;
	background-color: rgb(33, 120, 106);
	width:200px;
	height:100px;
	top:700px;
}
/* Recent activity and Team Members*/